html {
  scroll-padding-top: 4.375rem; /* 70px */
}

h1 {
  font-size: 2.8125rem; /* 45px */
  text-align: center;
  margin: 1.25rem 0; /* 20px 0 */
}

h2 {
  font-size: 2.1875rem; /* 35px */
  margin: 0;
}

.service {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1.25rem; /* 20px */
  border-bottom: 1px solid #ccc;
}

.service-content {
  flex: 1;
  margin: auto 1.875rem auto 2rem; /* 20px 0 30px 0 */
}

.service-img {
  margin: auto;
  margin-right: 2rem;
  width: 30vw;
  max-height: 60vh;
}

.service-section {
  padding: 0;
}

.service-content > p {
  font-size: 1rem; /* 20px */
  text-align: left;
  vertical-align: middle;
  padding: 0 2rem 0 2rem;
}

.content-right, .content-right > p {
  text-align: right;
}

@media (max-width: 900px) {
  .service {
    flex-direction: column;
    margin: 0;
    padding: 0.75rem;
  }

  .service-content {
    padding: 5px;
    margin: 0;
  }

  .service-img {
    width: 50vw;
    margin: 0 auto 1.25rem auto;
    min-width: 250px;
    min-height: auto;
  }

  h1 {
    font-size: 3.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .service-content > p {
    font-size: 1rem;
  }
}
